<div class="container">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form *ngIf="!isLoading" [formGroup]="createForm" (submit)="onSubmit()">
    <h3>{{ editMode ? "Edit project" : "Create Project" }}</h3>

    <div class="error-msg"></div>

    <div class="inputs">
      <div class="btns">
        <button type="button" class="btn" (click)="goBack()">Go Back</button>
        <button type="submit" class="btn">
          {{ editMode ? "Update" : "Create" }}
        </button>
      </div>
      <input
        type="text"
        placeholder="Title"
        [ngClass]="[]"
        formControlName="title"
      />
      <textarea
        type="text"
        placeholder="Description"
        [ngClass]="[]"
        formControlName="description"
      ></textarea>
      <label for="upload" #pickImage class="pick-image">
        <p *ngIf="!imagePicked">Pick Image</p>
        <img [src]="imagePicked" alt="Project Image" *ngIf="imagePicked" />
        <input
          type="file"
          id="upload"
          formControlName="image"
          accept="image/png, image/gif, image/jpeg"
          style="display: none"
          (change)="handleFileInput($event)"
        />
      </label>
      <button
        type="button"
        class="assign-members"
        placeholder="Assign Members"
        [ngClass]="[]"
        (click)="openDialog()"
      >
        Assign Members
      </button>
      <input type="text" hidden formControlName="assignMembers" hidden />

      <input
        class="date-picker"
        readonly
        (click)="picker.open()"
        [min]="date"
        [matDatepicker]="picker"
        placeholder="Due Date"
        formControlName="dueDate"
      />
      <mat-datepicker hidden #picker></mat-datepicker>
      <div class="subtasks" formArrayName="subTasks">
        <div
          class="subtask"
          *ngFor="let subTask of subTaskControls; let i = index"
          [formGroupName]="i"
        >
          <input
            type="text"
            class="form-control"
            id="imageUrl"
            name="imageUrl"
            formControlName="name"
            placeholder="{{ 'Task ' + (i + 1) + ' Name' }}"
          />
          <input
            type="text"
            class="form-control"
            id="imageUrl"
            name="imageUrl"
            formControlName="progress"
            placeholder="Progress %"
          />
          <button type="button" class="btn" (click)="removeTasks(i)">
            <fa-icon [icon]="faXmark"></fa-icon>
          </button>
        </div>
        <button type="button" class="btn" (click)="addTasks()">+ Tasks</button>
      </div>
      <mat-slide-toggle
        color="primary"
        formControlName="completed"
        [checked]="createForm.value.completed"
        >Completed</mat-slide-toggle
      >
    </div>
  </form>
</div>
