<div class="container">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form *ngIf="!isLoading" #form="ngForm" (submit)="onSubmit()">
    <h3>{{ editMode ? "Edit project" : "Create Project" }}</h3>
    <div class="error-msg" [ngClass]="[formError ? 'error-msg-show' : '']">
      {{ formErrorMessage }}
    </div>

    <div class="inputs">
      <div class="btns">
        <button type="button" class="btn" (click)="goBack()">Go Back</button>
        <button type="submit" class="btn">
          {{ editMode ? "Update" : "Create" }}
        </button>
      </div>
      <input type="text" placeholder="Title" name="title" ngModel />
      <textarea
        type="text"
        placeholder="Description"
        name="description"
        ngModel
      ></textarea>
      <label for="upload" #pickImage class="pick-image">
        <p *ngIf="!imagePicked">Pick Image</p>
        <img
          [src]="getImageURL(imagePicked)"
          alt="Project Image"
          *ngIf="imagePicked && !pickedImageFromFiles"
        />
        <img
          [src]="imagePicked"
          alt="Project Image"
          *ngIf="imagePicked && pickedImageFromFiles"
        />
        <input
          type="file"
          id="upload"
          name="image"
          ngModel
          accept="image/png, image/gif, image/jpeg"
          style="display: none"
          (change)="handleFileInput($event)"
        />
      </label>
      <button
        type="button"
        class="assign-members"
        placeholder="Assign Members"
        [ngClass]="[]"
        (click)="openDialog()"
      >
        Assign Members
      </button>
      <input type="text" hidden />

      <input
        class="date-picker"
        readonly
        (click)="picker.open()"
        [min]="date"
        name="dueDate"
        ngModel
        [matDatepicker]="picker"
        placeholder="Due Date"
      />
      <mat-datepicker hidden #picker></mat-datepicker>
      <div class="subtasks">
        <div
          class="subtask"
          *ngFor="let subTask of subTaskControls; let i = index"
        >
          <input
            type="text"
            class="form-control"
            id="imageUrl"
            name="name"
            ngModel
            placeholder="{{ 'Task ' + (i + 1) + ' Name' }}"
          />
          <input
            type="text"
            class="form-control"
            id="imageUrl"
            name="progress"
            ngModel
            placeholder="Progress %"
          />
          <button type="button" class="btn" (click)="removeTasks(i)">
            <fa-icon [icon]="faXmark"></fa-icon>
          </button>
        </div>
        <button type="button" class="btn" (click)="addTasks()">+ Tasks</button>
      </div>
      <mat-slide-toggle
        color="primary"
        name="completed"
        ngModel
        [checked]="createForm.value.completed"
        >Completed</mat-slide-toggle
      >
    </div>
  </form>
</div>
