<div class="main" style="position: relative">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <div class="container" *ngIf="!isLoading">
    <div class="col-1" [ngClass]="showMenu ? 'col-1-show' : ''">
      <div class="content">
        <fa-icon
          class="menu-icon"
          [icon]="faClose"
          (click)="toggleMenu()"
        ></fa-icon>
        <img [src]="getImageURL(project.imageUrl)" alt="" />
        <h2>{{ project.title }}</h2>
        <hr />
        <h4><fa-icon [icon]="faUserShield"></fa-icon> Admin</h4>
        <p>{{ project.createdBy.name }}</p>
        <p>{{ project.createdBy.email }}</p>
        <h4><fa-icon [icon]="faPeopleGroup"></fa-icon> Members</h4>
        <p *ngIf="project.members.length < 1">No members added...</p>
        <ng-scrollbar>
          <ul>
            <li *ngFor="let member of project.members">
              <p>{{ member.name }}</p>
              <p>{{ member.email }}</p>
            </li>
          </ul>
        </ng-scrollbar>
      </div>
    </div>
    <div *ngIf="showChat">
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 20px;
        "
      >
        <div
          style="display: flex; gap: 10px; align-items: center"
          class="project-title-mobile"
        >
          <fa-icon
            class="menu-icon"
            style="position: unset"
            [icon]="faBars"
            (click)="toggleMenu()"
          ></fa-icon>
          <h2 class="project-title" style="font-size: 18px">
            {{ project.title }}
          </h2>
        </div>
        <fa-icon
          class="menu-icon"
          style="
            position: unset;
            display: block;
            justify-self: end;
            margin-left: auto;
          "
          [icon]="faCommentSlash"
          (click)="showChat = false"
        ></fa-icon>
      </div>
      <app-chat
        [projectId]="project._id"
        class="col-2"
        style="background-color: #d9d9d9"
      ></app-chat>
    </div>
    <div
      *ngIf="!showChat"
      class="col-2"
      style="position: relative; padding-bottom: 50px"
      [ngClass]="showMenu ? 'col-2-hide' : ''"
    >
      <div class="content">
        <div class="row" style="align-items: center">
          <fa-icon
            class="menu-icon"
            [icon]="faBars"
            (click)="toggleMenu()"
          ></fa-icon>
          <h2 class="project-title">{{ project.title }}</h2>
          <fa-icon
            class="menu-icon"
            style="
              position: unset;
              display: block;
              justify-self: end;
              margin-left: auto;
            "
            [icon]="faComment"
            (click)="openChat()"
          ></fa-icon>
        </div>
        <div class="row">
          <fa-icon [icon]="faClock"></fa-icon>
          <p>{{ project.dueDate }}</p>
        </div>
        <div class="row">
          <div>
            <fa-icon [icon]="faFileLines"></fa-icon>
          </div>
          <p>
            {{ project.description }}
          </p>
        </div>
        <div class="list">
          <fa-icon [icon]="faListCheck"></fa-icon>
          <p *ngIf="project.tasks.length < 1">No tasks added...</p>
          <ul class="tasks">
            <li class="task" *ngFor="let task of project.tasks">
              <div
                style="
                  background-color: white;
                  border: 1px solid rgb(0, 0, 0, 0.4);
                  border-radius: 10px;
                  cursor: pointer;
                  padding: 10px;
                  font-size: 16px;
                  width: 170px;
                "
                [ngStyle]="{
                  'background-color': task.cover || 'white'
                }"
                (click)="openDialog(task)"
              >
                <p>
                  {{ task.name }}
                </p>
                <div
                  *ngIf="task.documentUrls.length"
                  style="
                    display: flex;
                    gap: 5px;
                    font-size: 12px;
                    margin-top: 7px;
                  "
                >
                  <fa-icon [icon]="faPaperclip"></fa-icon>
                  <p>{{ task.documentUrls.length }}</p>
                </div>
                <div
                  *ngIf="task.assignedMembers.length"
                  style="display: flex; gap: 5px; font-size: 12px"
                >
                  <fa-icon [icon]="faUserGroup"></fa-icon>
                  <p>{{ task.assignedMembers.length }}</p>
                </div>
                <div
                  style="
                    font-size: 12px;

                    color: white;
                    padding: 5px;
                    margin-top: 10px;
                  "
                >
                  {{ daysLeft(task.dueDate) + " Days left" }}
                </div>
              </div>
              <div style="display: flex; align-items: center; gap: 10px">
                <mat-progress-bar
                  color="primary"
                  mode="determinate"
                  [value]="task.progress"
                ></mat-progress-bar>
                <p>{{ task.progress }}%</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div
        class="edit-icon"
        style="font-size: 30px; gap: 10px; display: flex; align-items: center"
      >
        <button
          class="btn"
          style="background-color: rgb(208, 109, 109) !important"
        >
          <fa-icon [icon]="faTrash"></fa-icon> Delete
        </button>
        <button class="btn" (click)="onEditClick()">
          <fa-icon [icon]="faPenToSquare"></fa-icon> Edit
        </button>
      </div>
      <div class="completed" *ngIf="project.completed">
        <fa-icon [icon]="faCircleCheck"></fa-icon>
        Completed
      </div>
    </div>
  </div>
</div>
