<div class="container">
  <div class="header">
    <form class="search" action="">
      <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
      <input type="search" placeholder="Search" />
    </form>
    <fa-icon [icon]="faXmark" (click)="closeDialog()"></fa-icon>
  </div>
  <p class="type-to-search">Type to search</p>
  <ng-scrollbar>
    <ul class="content">
      <li class="normal bold">peter@gmail.com <span>✓</span></li>
      <li class="normal">john@gmail.com</li>
      <li class="normal bold">vdhambarage@gmail.com <span>✓</span></li>
      <li class="normal">peter@gmail.com</li>
      <li class="normal">peter@gmail.com</li>
      <li class="normal">peter@gmail.com</li>
      <li class="normal">peter@gmail.com</li>
      <li class="normal">peter@gmail.com</li>
      <li class="normal">peter@gmail.com</li>
      <li class="normal">peter@gmail.com</li>
      <li class="normal">peter@gmail.com</li>
      <li class="normal">peter@gmail.com</li>
      <li class="normal">peter@gmail.com</li>
      <li class="normal">peter@gmail.com</li>
      <li class="normal">peter@gmail.com</li>
      <li class="normal">peter@gmail.com</li>
    </ul>
  </ng-scrollbar>
  <button type="submit">Submit</button>
</div>
