<div class="container">
  <img src="assets/images/auth-cover.svg" alt="Register" />
  <form [formGroup]="registerForm" (submit)="onSubmit()">
    <h3>Project Management</h3>
    <div class="error-msg" [ngClass]="[formError ? 'error-msg-show' : '']">
      {{ formErrorMessage }}
    </div>
    <div class="inputs">
      <input
        type="text"
        placeholder="Name"
        formControlName="name"
        [ngClass]="[
          registerForm.get('name').invalid && registerForm.get('name').touched
            ? 'invalid-input'
            : ''
        ]"
      />
      <input
        type="email"
        placeholder="Email"
        formControlName="email"
        [ngClass]="[
          registerForm.get('email').invalid && registerForm.get('email').touched
            ? 'invalid-input'
            : ''
        ]"
      />
      <input
        type="password"
        placeholder="Password"
        formControlName="password"
        [ngClass]="[
          registerForm.get('password').invalid &&
          registerForm.get('password').touched
            ? 'invalid-input'
            : ''
        ]"
      />
      <div class="register">
        <button type="submit" class="btn">Register</button>
        <p>Already a member? <a routerLink="/auth/login">login</a></p>
      </div>
    </div>
  </form>
</div>
