<div class="main">
  <div class="container">
    <div class="text">
      <h1 class="title">Project Management Application</h1>
      <p class="description">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book.
      </p>
      <div class="btns">
        <button class="btn" type="button">Login</button>
        <button class="btn" type="button">Signup</button>
      </div>
    </div>
    <img src="assets/images/time_cover_landing.svg" alt="Project Management" />
  </div>
  <!-- <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <input type="text" placeholder="name" formControlName="name" />
    <button type="submit">Submit</button>
  </form> -->
</div>
