<div class="main">
  <h4>
    Created by Venushka Dhambarage <br /><a
      target="_blank"
      href="https://github.com/VenushkaD"
      >github.com/VenushkaD</a
    >
  </h4>
  <div class="container">
    <div class="text">
      <h1 class="title">Project Management Application</h1>
      <p class="description">
        Project management is the process of leading the work of a team to
        achieve all project goals within the given constraints.This information
        is usually described in project documentation, created at the beginning
        of the development process. The primary constraints are scope, time, and
        budget.
      </p>
      <div class="btns">
        <button class="btn" type="button" routerLink="/auth/login">
          Login
        </button>
        <button class="btn" type="button" routerLink="/auth/register">
          Signup
        </button>
      </div>
    </div>
    <img src="assets/images/time_cover_landing.svg" alt="Project Management" />
  </div>
</div>
