<div
  style="
    background-color: transparent;
    height: 100vh;
    display: grid;
    overflow: -moz-hidden-unscrollable;
  "
>
  <div class="chats" #scrollMe>
    <div class="chat chat-receiver">
      <div class="chat-content">
        <div class="chat-member-details">
          <div class="chat-member-name">
            <img
              src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png"
              alt=""
              style="width: 25px; height: 25px; object-fit: cover"
            />
            <div>
              <p>John Doe</p>
              <p>John@gmail.com</p>
            </div>
          </div>
          <div class="chat-member-time">
            <p>10:00 AM</p>
          </div>
        </div>
        <div class="chat-text">
          <p>
            Hello How Are yousfsa fsafaasf asfasfasfas fasfs zdfgdgwsg
            sdgsdgdsgdsg
          </p>
        </div>
      </div>
    </div>
    <div class="chat chat-receiver">
      <div class="chat-content">
        <div class="chat-member-details">
          <div class="chat-member-name">
            <img
              src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png"
              alt=""
              style="width: 25px; height: 25px; object-fit: cover"
            />
            <div>
              <p>John Doe</p>
              <p>John@gmail.com</p>
            </div>
          </div>
          <div class="chat-member-time">
            <p>10:00 AM</p>
          </div>
        </div>
        <div class="chat-text">
          <p>
            Hello How Are yousfsa fsafaasf asfasfasfas fasfs zdfgdgwsg
            sdgsdgdsgdsg
          </p>
        </div>
      </div>
    </div>
    <div class="chat chat-receiver">
      <div class="chat-content">
        <div class="chat-member-details">
          <div class="chat-member-name">
            <img
              src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png"
              alt=""
              style="width: 25px; height: 25px; object-fit: cover"
            />
            <div>
              <p>John Doe</p>
              <p>John@gmail.com</p>
            </div>
          </div>
          <div class="chat-member-time">
            <p>10:00 AM</p>
          </div>
        </div>
        <div class="chat-text">
          <p>
            Hello How Are yousfsa fsafaasf asfasfasfas fasfs zdfgdgwsg
            sdgsdgdsgdsg
          </p>
        </div>
      </div>
    </div>
    <div class="chat chat-sender">
      <div class="chat-content">
        <div class="chat-member-details">
          <div class="chat-member-name">
            <div>
              <p>You</p>
            </div>
          </div>
          <div class="chat-member-time">
            <p>10:00 AM</p>
          </div>
        </div>
        <div class="chat-text">
          <p>
            Hello How Are yousfsa fsafaasf asfasfasfas fasfs zdfgdgwsg
            sdgsdgdsgdsg
          </p>
        </div>
      </div>
    </div>
    <div class="chat chat-receiver">
      <div class="chat-content">
        <div class="chat-member-details">
          <div class="chat-member-name">
            <img
              src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png"
              alt=""
              style="width: 25px; height: 25px; object-fit: cover"
            />
            <div>
              <p>John Doe</p>
              <p>John@gmail.com</p>
            </div>
          </div>
          <div class="chat-member-time">
            <p>10:00 AM</p>
          </div>
        </div>
        <div class="chat-text">
          <p>
            Hello How Are yousfsa fsafaasf asfasfasfas fasfs zdfgdgwsg
            sdgsdgdsgdsg
          </p>
        </div>
      </div>
    </div>
    <div class="chat chat-sender">
      <div class="chat-content">
        <div class="chat-member-details">
          <div class="chat-member-name">
            <div>
              <p>You</p>
            </div>
          </div>
          <div class="chat-member-time">
            <p>10:00 AM</p>
          </div>
        </div>
        <div class="chat-text">
          <p>
            Hello How Are yousfsa fsafaasf asfasfasfas fasfs zdfgdgwsg
            sdgsdgdsgdsg
          </p>
        </div>
      </div>
    </div>
    <div class="chat chat-sender">
      <div class="chat-content">
        <div class="chat-member-details">
          <div class="chat-member-name">
            <div>
              <p>You</p>
            </div>
          </div>
          <div class="chat-member-time">
            <p>10:00 AM</p>
          </div>
        </div>
        <div class="chat-text">
          <p>
            Hello How Are yousfsa fsafaasf asfasfasfas fasfs zdfgdgwsg
            sdgsdgdsgdsg
          </p>
        </div>
      </div>
    </div>
  </div>
  <div style="padding: 20px">
    <form class="chat-input">
      <input type="text" placeholder="Type a message" />
      <button type="submit" class="btn-send">Send</button>
    </form>
  </div>
</div>
