<div
  style="
    background-color: transparent;
    height: 100vh;
    display: grid;
    overflow: -moz-hidden-unscrollable;
  "
>
  <mat-spinner
    *ngIf="isLoading"
    style="display: flex; justify-content: center; margin: auto"
  ></mat-spinner>
  <div *ngIf="!isLoading" class="chats" #scrollMe>
    <div
      class="chat"
      *ngFor="let message of messages.messages"
      [ngClass]="message.user._id === userId ? 'chat-sender' : 'chat-receiver'"
    >
      <div class="chat-content">
        <div class="chat-member-details">
          <div class="chat-member-name" *ngIf="message.user._id !== userId">
            <img
              [src]="message.user.imageUrl"
              alt=""
              style="
                width: 25px;
                height: 25px;
                object-fit: cover;
                border-radius: 50%;
              "
            />
            <div>
              <p>{{ message.user.name }}</p>
              <p>{{ message.user.email }}</p>
            </div>
          </div>
          <div class="chat-member-name" *ngIf="message.user._id === userId">
            <p>You</p>
          </div>
          <div class="chat-member-time">
            <p>{{ moment(message.createdAt).format("HH:ss") }}</p>
          </div>
        </div>
        <div class="chat-text">
          <p>{{ message.text }}</p>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!isLoading" style="padding: 20px; display: flex">
    <form class="chat-input" #form="ngForm" (submit)="onSubmit(form)">
      <input type="text" placeholder="Type a message" ngModel name="text" />
      <button type="submit" class="btn-send">Send</button>
    </form>
  </div>
</div>
