<div class="container">
  <h3>Project Name</h3>
  <div class="content">
    <img class="demo-bg" [src]="project.image" alt="" />
    <div>
      <ul *ngIf="project.tasks.length > 0">
        <li *ngFor="let task of tasksArray(); let i = index">
          {{ task.name }}
        </li>
        <!-- <li>Subtask2</li>
        <li>Subtask3</li>
         -->
        <li *ngIf="project.tasks.length > 3">....More</li>
      </ul>
      <div class="project-details">
        <div class="due">Due: 25th Dec</div>
        <div class="members">
          <img
            *ngFor="let member of membersArray()"
            [src]="member.imageUrl"
            alt=""
          />
          <p *ngIf="project.members.length < 1">No members</p>
          <!-- <img
          src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/avat-01-512.png"
          alt=""
        />
        <img
          src="https://www.shareicon.net/data/512x512/2016/07/26/802043_man_512x512.png"
          alt=""
        /> -->
          <fa-icon *ngIf="project.members.length > 3" [icon]="faPlus"></fa-icon>
        </div>
      </div>
    </div>
  </div>
</div>
