<div
  mat-dialog-content
  style="background-color: white; overflow-y: auto; max-height: 100% !important"
>
  <mat-spinner *ngIf="isLoading" style="margin: auto"></mat-spinner>
  <form
    *ngIf="!isLoading"
    style="display: grid"
    #form="ngForm"
    (submit)="onSubmit(form)"
  >
    <div style="display: grid; gap: 30px">
      <div
        style="display: flex; justify-content: space-between; margin-top: 5px"
      >
        <div style="display: flex; gap: 8px; align-items: center">
          <fa-icon [icon]="faFile"></fa-icon>
          <textarea
            rows="1"
            style="font-size: 20px; font-weight: bold; margin: 0; width: 100%"
            (keydown)="textAreaEnter($event)"
            name="name"
            [ngModel]="data.task.name"
          ></textarea>
        </div>
        <fa-icon
          [icon]="faClose"
          style="font-size: 20px; cursor: pointer"
          (click)="dialogRefViewTask.close()"
        ></fa-icon>
      </div>
      <div
        *ngIf="showCover && data.task.cover === ''"
        style="
          background-color: rgb(242, 242, 242);
          /* margin: -10px -40px -90px !important; */
          height: 100px;
          display: flex;
          justify-content: center;
        "
        [ngStyle]="{ 'background-color': coverColor }"
      >
        <select
          style="
            align-self: center;
            padding: 5px;
            font-size: 13px;
            color: black;
            background-color: rgb(187, 187, 187);
            opacity: 0.5;
            cursor: pointer;
            border-radius: 5px;
            margin: 10px;
            text-align: center !important;
            width: fit-content;
          "
          ngModel
          name="cover"
          (change)="onCoverChange($event)"
        >
          Add Cover
          <option value="" selected disabled>Select Colour</option>
          <option value="#adff2f">Green</option>
          <option value="#ffee2f">Yellow</option>
          <option value="#ff2f2f">Red</option>
          <option value="#2f2fff">Blue</option>
          <option value="#2fff2f">Light Green</option>
          <option value="#ff2fff">Pink</option>
          <option value="#2fffff">Light Blue</option>
          <option value="#ff2f8f">Purple</option>
          <option value="#ff8f2f">Orange</option>
          <option value="#8f2fff">Dark Blue</option>
          <option value="#8fff2f">Light Green</option>
          <option value="#ff8fff">Light Pink</option>
          <option value="#CBC3E3">Light Purple</option>
        </select>
      </div>
      <div
        *ngIf="data.task.cover"
        style="
          /* margin: -10px -40px -90px !important; */
          height: 100px;
          display: flex;
        "
        [ngStyle]="{ 'background-color': data.task.cover }"
      >
        <p
          style="
            align-self: flex-end;
            padding: 5px;
            font-size: 13px;
            color: black;
            background-color: grey;
            opacity: 0.5;
            cursor: pointer;
            border-radius: 5px;
            margin: 10px;
          "
          (click)="removeCover()"
        >
          Remove Cover
        </p>
      </div>
      <!-- <button>Edit</button> -->
      <div style="display: grid; gap: 10px">
        <div style="display: flex; gap: 14px; align-items: center">
          <fa-icon [icon]="faBarsStaggered"></fa-icon>
          <h3>Description</h3>
          <!-- <button
            class="btn"
            type="button"
            style="font-size: 12px"
            (click)="descEditClicked = true"
          >
            Edit
          </button> -->
        </div>

        <textarea
          rows="2"
          cdkTextareaAutosize
          (keydown)="textAreaEnter($event)"
          placeholder="Add Description"
          name="description"
          [ngModel]="data.task.description"
        ></textarea>
      </div>

      <div style="display: grid; gap: 10px">
        <div style="display: flex; gap: 10px; align-items: center">
          <fa-icon [icon]="faBarsProgress"></fa-icon>
          <h3>Progress</h3>
        </div>
        <div style="display: flex; gap: 5px">
          <textarea
            rows="1"
            style="width: 40px"
            [ngModel]="data.task.progress"
            name="progress"
            type="number"
          ></textarea
          >%
        </div>
      </div>

      <div
        style="display: grid; gap: 10px"
        *ngIf="data.task.documentUrls.length > 0 || showAttachments"
      >
        <div style="display: flex; gap: 14px; align-items: center">
          <fa-icon [icon]="faPaperclip"></fa-icon>
          <h3>Attachments</h3>
        </div>
        <div style="display: flex; flex-wrap: wrap; gap: 20px">
          <div
            *ngFor="let attachment of attachments"
            style="
              display: flex;
              flex-wrap: wrap;
              gap: 10px;
              align-items: center;
            "
          >
            <h4
              style="
                background-color: rgb(224, 224, 224);
                padding: 20px;
                border-radius: 5px;
                color: grey;
              "
            >
              {{
                attachment.name.split(".")[1] || attachment.name.split(".")[0]
              }}
            </h4>
            <div>
              <h5>{{ attachment.name.split(".")[0] }}</h5>
              <p
                style="
                  text-decoration: underline;
                  font-size: 12px;
                  color: grey;
                  cursor: pointer;
                "
                (click)="onFileDelete(attachment)"
              >
                Delete
              </p>
            </div>
          </div>
          <div
            *ngFor="let attachment of documentUrls"
            style="
              display: flex;
              flex-wrap: wrap;
              gap: 10px;
              align-items: center;
            "
          >
            <h4
              style="
                background-color: rgb(224, 224, 224);
                padding: 20px;
                border-radius: 5px;
                color: grey;
              "
            >
              {{ attachment.split(".").pop() }}
            </h4>
            <div>
              <h5>{{ attachment.split("---")[1].split(".")[0] }}</h5>
              <div style="display: flex; gap: 5px">
                <p
                  style="
                    text-decoration: underline;
                    font-size: 12px;
                    color: grey;
                    cursor: pointer;
                  "
                  (click)="downloadFile(attachment)"
                >
                  Download
                </p>
                <p
                  style="
                    text-decoration: underline;
                    font-size: 12px;
                    color: grey;
                    cursor: pointer;
                  "
                  (click)="onFileDeleteURL(attachment)"
                >
                  Delete
                </p>
              </div>
            </div>
          </div>
        </div>
        <button
          type="button"
          class="btn"
          style="width: fit-content"
          (click)="addAttachment(file)"
        >
          Add Attachment
        </button>
        <input hidden type="file" #file (change)="handleFileInput($event)" />
      </div>
      <div
        style="display: grid; gap: 20px"
        *ngIf="data.task.assignedMembers.length > 0 || showMembers"
      >
        <div
          style="display: flex; flex-wrap: wrap; gap: 10px; align-items: center"
        >
          <fa-icon [icon]="faUserGroup"></fa-icon>
          <h3>Members</h3>
        </div>
        <div
          style="display: flex; flex-wrap: wrap; gap: 10px; align-items: center"
        >
          <app-member
            [member]="member"
            (deleteMember$)="deleteMember($event)"
            *ngFor="let member of data.task.assignedMembers"
          ></app-member>
          <div style="display: flex; flex-direction: column; gap: 10px">
            <h1
              *ngIf="data.task.assignedMembers.length === 0 || !showMembers"
              style="cursor: pointer; width: fit-content; font-size: 15px"
              class="btn"
              (click)="openDialog()"
            >
              Add Members
            </h1>
            <h1
              *ngIf="data.task.assignedMembers.length > 0"
              style="cursor: pointer"
              (click)="openDialog()"
            >
              +
            </h1>
          </div>
        </div>
      </div>
      <div style="display: grid; gap: 10px" *ngIf="showDueDate">
        <div style="display: flex; gap: 10px; align-items: center">
          <fa-icon [icon]="faCalendar"></fa-icon>
          <h3>Due Date</h3>
        </div>
        <div style="display: flex; gap: 10px; align-items: center">
          <input
            type="date"
            name="dueDate"
            style="width: 200px"
            [ngModel]="
              data.task.dueDate
                ? moment(data.task.dueDate).format('yyyy-MM-DD')
                : ''
            "
          />
        </div>
      </div>
      <div>
        <div
          style="display: grid; gap: 10px"
          *ngIf="showChecklist || this.data.task.checkList.length > 0"
        >
          <div style="display: flex; gap: 10px; align-items: center">
            <fa-icon [icon]="faListCheck"></fa-icon>
            <h3>Checklist</h3>
          </div>
          <div style="display: grid; gap: 5px">
            <div *ngFor="let item of formArray.controls; let i = index">
              <div style="display: flex; align-items: center; gap: 10px">
                <input
                  type="checkbox"
                  class="largerCheckbox"
                  id="vehicle1"
                  #check
                  (change)="changeCheckListValue(i, ref.value, check.checked)"
                  value="Bike"
                  [checked]="item.value.checked"
                  name="checklist"
                />
                <input
                  type="text"
                  name="checklist"
                  class="checkboxName"
                  placeholder="Type here"
                  [value]="item.value.name"
                  (change)="changeCheckListValue(i, ref.value, check.checked)"
                  #ref
                />
                <fa-icon
                  [icon]="faClose"
                  style="cursor: pointer"
                  (click)="deleteChecklist(i)"
                ></fa-icon>
                <br />
              </div>
            </div>
            <div *ngIf="showAddChecklist">
              <input type="text" placeholder="type here" #checkName />
              <button
                type="button"
                class="btn"
                style="width: fit-content"
                (click)="increaseChecklist(checkName.value)"
              >
                Add
              </button>
            </div>
            <h2
              *ngIf="!showAddChecklist"
              style="cursor: pointer; width: fit-content"
              (click)="showAddChecklist = true"
            >
              +
            </h2>
          </div>
        </div>
      </div>
      <hr />
      <div style="display: flex; flex-wrap: wrap; gap: 10px">
        <button
          type="button"
          *ngIf="data.task.assignedMembers.length === 0 && !showMembers"
          style="cursor: pointer; width: fit-content; font-size: 15px"
          class="btn-more"
          (click)="showMembers = true"
        >
          Members
        </button>
        <button
          type="button"
          *ngIf="data.task.assignedMembers.length === 0 && !showAttachments"
          style="cursor: pointer; width: fit-content; font-size: 15px"
          class="btn-more"
          (click)="showAttachments = true"
        >
          Attachments
        </button>
        <button
          type="button"
          *ngIf="!showCover"
          style="cursor: pointer; width: fit-content; font-size: 15px"
          class="btn-more"
          (click)="showCover = true"
        >
          Cover
        </button>
        <button
          type="button"
          *ngIf="!showChecklist"
          style="cursor: pointer; width: fit-content; font-size: 15px"
          class="btn-more"
          (click)="showChecklist = true"
        >
          Checklist
        </button>
        <button
          type="button"
          *ngIf="!showDueDate"
          style="cursor: pointer; width: fit-content; font-size: 15px"
          class="btn-more"
          (click)="showDueDate = true"
        >
          Due Date
        </button>
      </div>
      <button class="btn btn-save" type="submit" style="width: 100%">
        Save
      </button>
    </div>
  </form>
</div>
