<form class="search" action="" [formGroup]="searchForm" (submit)="onSubmit()">
  <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
  <input
    type="search"
    autocomplete="off"
    placeholder="Search"
    formControlName="search"
  />
  <!-- <select class="sort">
    <option disabled selected>Sort</option>
    <option value="">All</option>
    <option value="completed">Completed</option>
    <option value="incomplete">Incomplete</option>
    <hr />
    <option value="recent">Recent</option>
    <option>Days left</option>
  </select> -->
</form>
