.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-content: center;
    width: 1200px;
    margin: auto;
    gap:100px;
}

.container > img {
    width: 500px;
    margin: auto;
}

form{
    background-color: #8F8F8F;
    width: 80%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.25);
}

form > h3 {
    background-color:#504F4F;
    padding: 20px 10px;
    text-align: center;
    color: white;
    font-size: 25px;
} 

.inputs {
    display: grid;
    gap: 40px;
    background-color: transparent;
    border: none;
    width: 80%;
    margin-bottom: 15px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    
}

input{
    padding: 10px 15px;
    background-color: #D9D9D9;
    border-radius: 20px;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.25);
}

.register{   
    display: grid;
    gap: 10px;
    background-color: transparent;
}

.btn{
    color: black;
    background-color: #D9D9D9;
    padding: 8px 10px;
    border-radius: 20px;
    font-size: 17px;
    width: 100px;
    margin: auto;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.25);
}

p{
    text-align: center;
    color: white;
}

a{
    text-decoration: underline;
    color: white;
}

.error-msg{
    display: none;
    color: rgb(212, 97, 97);
    font-size: 15px;
    margin: 30px 30px 0 30px;
    padding: 10px 20px;
    text-align: center;
    background-color: rgb(243, 201, 201);
}

.error-msg-show{
    display: block;
}

@media screen and (max-width: 1200px){
    .container{
        grid-template-columns: 1fr;
        width: 100%;
    }

    form{
        /* width: 80%; */
        margin: auto;
    }
    .container > img {
        display: none;
    }

    input{
        font-size: 15px;
    }
}
    


