<div class="container">
  <div class="header">
    <form class="search" action="">
      <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
      <input type="search" placeholder="Search" (keypress)="onSearch($event)" />
    </form>
    <fa-icon [icon]="faXmark" (click)="closeDialog()"></fa-icon>
  </div>
  <p class="type-to-search">Type to search</p>

  <ng-scrollbar>
    <ul class="content">
      <li
        class="normal"
        *ngFor="let member of result; let i = index"
        [ngClass]="checkIsMember(member._id) ? 'bold' : ''"
        (click)="toggleMember(member)"
      >
        {{ member.email }} <span *ngIf="checkIsMember(member._id)">✓</span>
      </li>
    </ul>
  </ng-scrollbar>
  <p style="font-size: 10px; margin-bottom: 8px; font-weight: 100">
    *note: to assign a member to a task please add them to the project first
  </p>
  <button type="button" (click)="submitDialog()">Submit</button>
</div>
